body {
  background: rgb(215, 236, 248);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  background: #fff;
  max-width: 600px;
  margin: 50px auto 0;
  padding: 20px 70px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1,
h2 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  font-size: 40px;
}

select {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 10px;
  background: rgb(215, 236, 248);
  border: 1px none;
  font-size: 15px;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
  padding: 15px 0;
}

.city:last-child {
  border: none;
}

h2 {
  margin: 0;
  line-height: 3.2;
  font-size: 25px;
}

.date {
  opacity: 0.6;
}

.time {
  font-size: 40px;
}

footer {
  text-align: center;
  margin: 15px 0 50px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 500px) {
  .city {
    flex-direction: column;
    text-align: center;
  }

  .city .time {
    margin-top: 20px;
  }
}
